/**
General
 */

html {
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    color: #FFF;
}

/*************
  Sort Theme
 *************/

.table td,  .table th{
    border-top: 0px;
}

.tablesorter tbody td,
.tablesorter tfoot th,
.tablesorter tfoot td {
    padding: 4px;
    vertical-align: top;
}
.tablesorter .header,
.tablesorter .tablesorter-header {
    /* black (unsorted) double arrow */
    background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
    /* white (unsorted) double arrow */
    /* background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAAP///////yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==); */
    /* image */
    /* background-image: url(images/black-unsorted.gif); */
    background-repeat: no-repeat;
    background-position: center right;
    padding: 4px 18px 4px 4px;
    white-space: normal;
    cursor: pointer;
}
.tablesorter .headerSortUp,
.tablesorter .tablesorter-headerSortUp,
.tablesorter .tablesorter-headerAsc {

    /* black asc arrow */
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
    /* white asc arrow */
    /* background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAAP///////yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7); */
    /* image */
    /* background-image: url(images/black-asc.gif); */
}
.tablesorter .headerSortDown,
.tablesorter .tablesorter-headerSortDown,
.tablesorter .tablesorter-headerDesc {

    /* black desc arrow */
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
    /* white desc arrow */
    /* background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAAP///////yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7); */
    /* image */
    /* background-image: url(images/black-desc.gif); */
}
.tablesorter thead .sorter-false {
    background-image: none;
    cursor: default;
    padding: 4px;
}

/**
index.html
 */

.search_body {
    background: #000 url("http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Annie_11.jpg") no-repeat center center fixed;
}

.lol_logo {
    height: 100px;
    width: 260px;
    display: block;
    margin: -40px 0 35px 70px;
}

.container_search {
    width: 400px;
    height: 400px;
    border: 1px solid #000;
    position: fixed;
    top: 35%;
    left: 20%;
    transform: translate(-35%, -20%);
    background: #201e35; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #201e35 0%, #000000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #201e35 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #201e35 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#201e35', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.line {
    height: 1px;
    width: 90%;
    background: #FFF;
    margin: 5px 0 10px 5%;
}

.btn-primary {
    margin: 10px 0 10px 0;
    border-color: #febf01;
    background: #febf01; /* Old browsers */
    background: -moz-linear-gradient(top, #febf01 0%, #d19202 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #febf01 0%,#d19202 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #febf01 0%,#d19202 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febf01', endColorstr='#d19202',GradientType=0 ); /* IE6-9 */
}

.btn-primary:hover, .btn-primary:active  {
    border-color: #d19202;
    background: #d19202; /* Old browsers */
    background: -moz-linear-gradient(top, #d19202 0%, #febf01 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #d19202 0%,#febf01 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #d19202 0%,#febf01 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d19202', endColorstr='#febf01',GradientType=0 ); /* IE6-9 */
}

.row {
    margin: 15px 0 0 15px;
    font-size: 12px;
}
/**
Challenger.php
 */

.challenger_body {
    background: #FFF;
    color: #000;
}

.container_challenger {
    width: 90%;
    text-align: center;
    margin: auto;
    background-color: #FFF;
}

.tier_icon {
    height: 150px;
    width: 150px;
    margin: 10px 0 10px 0;
}

.tier_details {
    font-size: 20px;
}

tr:hover.summoner {
    background-color: #778899 !important;
    cursor: pointer;
}

/**
Summoner.php
 */

.summoner_body {
    background: #000 url("http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Diana_2.jpg") no-repeat center center fixed;
    color: #FFF;
    margin-top: auto;
}

.container {
    margin-top: 10px;
    padding: 0;
    text-align: center;
}

.vcenter {
    display: flex;
    align-items: center;
}

.bordersilver {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: #dee2e6 1px solid;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(214,214,214,1);
    -moz-box-shadow: 1px 1px 5px 0px rgba(214,214,214,1);
    box-shadow: 1px 1px 5px 0px rgba(214,214,214,1);
    background-color: #000;
    opacity: 0.9;

}

.table td {
    border: 0px;
}

.summoner_tier_icon, .summoner_icon{
    margin-top: 10px;
    width: 100px;
    height: 100px;
}

.masteries {
     margin-top: 10px;
     width: 75px;
     height: 75px;
}

.lastgame {
    margin-top: 10px;
    width: 65px;
    height: 65px;
}

.positions {
    margin-top: 30px;
    width: 75px;
    height: 75px;
}

/**
gamedetail.php
 */

.gamedetails_body {
    background: #FFF;
    color: #000;
}

.container_gamedetails {
    width: 90%;
    text-align: center;
    margin: auto;
    background-color: #FFF;
    margin-top: 10px;
}

.loading_champion {
    width: 150px;
    height: 250px;
    margin-bottom: 5px;
}

.blueteam {
    background-color: #5d9cd3;
}

.redteam {
    background-color: #f45b69;

}

span.left {
    float: left;
    font-weight: bold;
}

span.right {
    float: right;
}

.stats_icon {
    width: 20px;
    height: 20px;
}

.title {
    width: 100%;
    height: 25px;
    background-color: #d3d3d3;
    margin: 10px 0 10px 0;
    line-height: 25px;
    white-space: nowrap;
}

